{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": false,
      "dynamicImport": false
    }
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": true
}
